.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:100vh;
    padding:120px 10%;
    gap:60px;
}

.hero-left{
    flex:1;
}

.hero-right{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.hero-right img{
    width:350px;
    height:350px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #38bdf8;
    box-shadow:0 0 30px rgba(56,189,248,0.5);
}
